!!!
%html
%head
  %title Beerkipedia
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .navbar.navbar-default.navbar-fixed-top
    .container
      =link_to "Beerkipedia", root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Add Article", new_article_path
  %p.notice= notice
  %p.alert= alert

  .container

    .col-md-4
      %h1= link_to "Welcome to Beerkipedia", root_path
      %h4 The Free Beer Encylopedia
      %ul.list-group
        %li= link_to "Complete List", root_path, class: "list-group-item"
        - Category.all.each do |category|
          %li= link_to category.name, articles_path(category: category.name), class: "list-group-item"

    .col-md-8
      = yield
